form{
    text-align: center;
}
input{
    text-align: right;
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 4px;
    width: 20%;
    font-size: medium;
}
label{
    font-weight: bold;
}
h1{
    text-align: center;
    width: auto;
    border: 1px black solid;
    font-weight: bold;
}
#total{
    font-weight: 500;
}
button{
    background-color: lightcoral;
    width: 80px;
    padding: 5px;
    border-radius: 4px;
    font-size: large;
    margin-left: 487px;
}
label{
    width: 240px;
    display: inline-block;
    text-align: left;
  }

 